@{
    ViewData["Title"] = "Страница входа";
}

<form method="post">
    <div>
        @ViewBag.ErrorMessage
    </div>
    <div style="margin-bottom: 5px;">
        <input placeholder="Электронная почта"
               type="text"
               name="login"
               autocomplete="username"/>
    </div>
    <div style="margin-bottom: 5px;">
        <input placeholder="Пароль"
               type="password"
               name="password"
               autocomplete="current-password"/>
    </div>
    <div>
        <input type="submit" value="Войти"/>
    </div>
</form>
