@{
    ViewData["Title"] = "Страница входа";
}

<form id="login" method="post">
    <div>
        @ViewBag.ErrorMessage
    </div>
    <div>
        <input placeholder="Электронная почта"
               type="email"
               name="email"
               id="email"
               autocomplete="email"/>
    </div>
    <div>
        <input placeholder="Пароль"
               type="text"
               name="password"
               id="password"
               autocomplete="current-password"/>
    </div>
    <div>
        <input type="submit" value="Войти"/>
    </div>
</form>
