@{
    ViewData["Title"] = "Вход";
}

@section styles
{
    <link rel="stylesheet" href="~/login/css/login.css">
}

<div class="container">
    <div>
        @ViewBag.ErrorMessage
    </div>

    <form method="post">
        <div>
            <input placeholder="Электронная почта"
                   type="text"
                   name="login"
                   autocomplete="username"/>
        </div>
        <div>
            <input placeholder="Пароль"
                   type="password"
                   name="password"
                   autocomplete="current-password"/>
        </div>
        <div>
            <input type="submit" value="Войти"/>
        </div>
    </form>
</div>
